body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Balsamiq Sans';
    
}
header {
    font-family: 'Balsamiq Sans', cursive;
    
    width: 400px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(255, 255, 255);
}
.cabecalho{
    font-family: 'Balsamiq Sans';

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 30px;
    border-radius: 6px;
    padding: 0px 20px;
    background-color: rgba(222, 184, 135, 0.749);
}

ul{
    
    list-style: none;
   
   
}


li{
    width:300px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px 0px 0px;
    display: flex;
}
section{

display: flex;
flex-direction: column-reverse;
}
.divSoma{
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: rgba(204, 204, 204, 0.705);
    border-radius: 6px;
}

.btnComprar{
    font-family: 'Balsamiq Sans', cursive;

    color: white;
    width: 340px;
    height: 40px;
    background-color: rgb(102, 175, 137);
    border-radius: 6px;
    border: 2px solid  white;
}

    .btnComprar:hover{
        border: 2px solid rgba(222, 184, 135, 0.749);
        background-color: rgb(8, 209, 105);
    }